{% extends 'base.html.twig' %}

{% block title %}Agence 842 | Inscription {% endblock %}

{% block body %}

  <body class="hold-transition register-page">
  <div class="register-box">
    <div class="register-logo">
      <a href="../../index2.html"><b>Agence 842</b> CRM</a>
    </div>

    <div class="card">

      {% for flashError in app.flashes('verify_email_error') %}
          <div class="alert alert-danger" role="alert">{{ flashError }}</div>
      {% endfor %}

      <div class="card-body register-card-body">
        <p class="login-box-msg">Inscrivez-vous, c’est rapide et facile.</p>

      <!--<form action="../../index.html" method="post">-->
        {{ form_start(registrationForm) }}

          {{ form_row(registrationForm.full_name, { 'label': 'Nom complet', 'attr' : { 'class' : 'form-control' } }) }}

          {{ form_row(registrationForm.email, { 'label': 'Adresse email', 'attr' : { 'class' : 'form-control' } }) }}

          {{ form_row(registrationForm.plainPassword, { 'label': 'Mot de passe', 'attr' : { 'class' : 'form-control' } }) }}

          {{ form_row(registrationForm.agreeTerms, {label: 'Accepter les conditions'}) }}

        <div class="col-5 text-right">
          <button type="submit" class="btn btn-primary btn-block">S'enregistrer</button>
        </div>

        {{ form_end(registrationForm) }}
      </div>

        <div class="social-auth-links text-center">
          <p>- OU -</p>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i>  Inscrivez-vous à l'aide de Google
          </a>
        </div>

        <a href="{{ path('app_login') }}" class="text-center">Se connecter</a>
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
  <!-- /.register-box -->

  </body>

{% endblock %}