{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    
<body class="hold-transition login-page">
    <div class="login-box">
  <div class="login-logo">
    <a href="{{ path('app_login') }}"><b>Agence 842</b> CRM</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">

    <div class="card-body login-card-body">
      <p class="login-box-msg">Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>
        {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
      {{ form_start(requestForm) }}
        
        <div class="row">
          <div class="col-12">
            <div class="input-group mb-3">
          {# <input type="email" class="form-control" placeholder="Email"> #}
          {{ form_row(requestForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
            <button type="submit" class="btn btn-primary btn-block">Envoyer un e-mail de réinitialisation</button>
          </div>
          <!-- /.col -->
        </div>
      {{ form_end(requestForm) }}

      <p class="mt-3 mb-1">
        <a href="{{ path('app_login') }}" class="text-center">Se connecter</a>
      </p>
      <p class="mb-0">
        <a href="{{ path('app_register') }}" class="text-center">Créer un compte</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

</body>


{% endblock %}