{% extends '@EasyAdmin/layout.html.twig' %}


{% set _content_title = 'TABLEAU DE BORD' %}
{% block page_title -%}
    {{ _content_title }}
{%- endblock %}
{% block content_header %}
    <h5 class="title" style="font-weight: bold;">{{ _content_title }}</h5>
    {% block stylesheets %}
        {{ encore_entry_link_tags('dashboard') }}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css" integrity="sha256-FjyLCG3re1j4KofUTQQXmaWJw13Jdb7LQvXlkFxTDJI=" crossorigin="anonymous">
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('dashboard') }}
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js" integrity="sha256-8nl2O4lMNahIAmUnxZprMxJIBiPv+SzhMuYwEuinVM0=" crossorigin="anonymous"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'timeGridWeek',
                    locale:'fr'
                });
                calendar.render();
            });

        </script>
    {% endblock %}
{% endblock %}

{% block main %}
<div class="container-fluid">
        <div class="row">
            <div class="card bg-info text-white">
                <img src="images/Dashboard_image.png" class="card-img" width="500" height="200">
                <div class="card-img-overlay">
                    <h2 class="card-title text-right" style="font-size:3vw; font-weight: bold;">Bienvenue dans 842 CRM</h2>
                    <p class="card-text text-black text-right"></p>
                </div>
            </div>
        </div>

    <div class="row mt-3">
        <div class="col-sm-3">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <span class="display-3" style="font-weight: bold;"> {{ countAllClient['value'] }} </span> </br> Entreprises Enregistrés
                </div>
                <div class="card-footer bg-transparent border-success">
                    <a href="#" class="text-white">Plus d'infos <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <span class="display-3" style="font-weight: bold;"> 35 </span> </br> Rendez-vous
                </div>
                <div class="card-footer bg-transparent border-success">
                    <a href="#" class="text-white">Plus d'infos <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-white bg-warning mb-3">
                <div class="card-body">
                    <span class="display-3" style="font-weight: bold;"> 69 </span> </br> Fichiers Prospects
                </div>
                <div class="card-footer bg-transparent border-success">
                    <a href="#" class="text-white">Plus d'infos <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-white bg-danger mb-3">
                <div class="card-body">
                    <span class="display-3" style="font-weight: bold;"> 45% </span> </br> Taux Prise Rendez-vous
                </div>
                <div class="card-footer bg-transparent border-success">
                    <a href="#" class="text-white">Plus d'infos <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-sm-6">
            {{ render_chart(chart) }}
        </div>
        <div class="col-sm-6">
            <div id="calendar"></div>
        </div>
    </div>
</div>

<footer class="main-footer">
        <strong>Copyright &copy; 2021 <a href="https://www.agence-842.com">842 CRM - 842 Concept</a>.</strong>
        Tous droits réservés.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 1.0
        </div>
</footer>
{% endblock %}